
build/*
dist/*
stellarmortis.egg*
stellarmortis/meta.yaml
data/*
plots/*
tasks/*
*.log
*.csv
*.ecsv
*.pyc
KnownIssues.md
white_dwarf.py
black_hole.py
Progress Checking.ipynb
zofia.py
increase_testing.py
Zenodo Upload.ipynb